<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Natural Language Processing</title>
</head>

<body>

    <header>
        <div class="">
            <header>Natural Language Processing</header>
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form action="" class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()"
                    placeholder="Enter your text to determine">
                <input type="submit" name="" value="ANALIZE" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <div id="results"></div>
                    <div id="result" class="hidden">
                        <div id="submitted-id">Submitted Text</div>
                        <div id="input-id"></div>
                        <div id="output-id">Results
                            <table class="values">
                                <tbody>
                                    <tr>
                                        <td class="description">
                                            Agreement
                                        </td>
                                        <td id="agreement-id"></td>
                                    </tr>
                                    <tr>
                                        <td class="description">
                                            Model
                                        </td>
                                        <td id="model-id"></td>
                                    </tr>
                                    <tr>
                                        <td class="description">
                                            Irony
                                        </td>
                                        <td id="irony-id"></td>
                                    </tr>
                                    <tr>
                                        <td class="description">
                                            Subjectivity
                                        </td>
                                        <td id="subject-id"></td>
                                    </tr>
                                    <tr>
                                        <td class="description">
                                            Confidence
                                        </td>
                                        <td id="confidence-id"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </div>

                </section>
    </main>

    <footer>
        <p>Natural Language Processing</p>
    </footer>


    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        } else {
            console.log("Service Working not working");
        }

    </script>
</body>

</html>